@import "../../../variables";

.back-button {
  display: flex;
  align-items: center;
  gap: $spacing-small;
  padding: $spacing-small $spacing-medium;
  background-color: transparent;
  border: 2px solid $primary-color;
  border-radius: 8px;
  color: $primary-color;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
  text-decoration: none;

  &:hover {
    background-color: $primary-color;
    color: white;
  }

  &:active {
    transform: scale(0.95);
  }
}

.chart-container {
  width: 100%;
  margin-inline: auto;

  h2 {
    text-align: center;
    color: $text-color-light;
  }
}
