<div>
  <div>
    <div class="center">
      <div>{{ titlePage }}</div>
    </div>
    <div class="split">
      <app-stats-card
        [statsTitle]="'Number of entries'"
        [statsData]="totalEntries"
      ></app-stats-card>
      <app-stats-card
        [statsTitle]="'Total Number of medals'"
        [statsData]="totalMedals"
      ></app-stats-card>
      <app-stats-card
        [statsTitle]="'Total Number of athletes'"
        [statsData]="totalAthletes"
      ></app-stats-card>
    </div>
  </div>
  <div class="chart-container wrapper-container">
    <div class="container">
      <app-line-chart [chartId]="'lineChartCountry'"></app-line-chart>
      <h2>Date</h2>
    </div>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>
