// Colors
$primary-color: #0b868f;
$text-color-light: gray;
$text-color-dark: black;
$white: white;

// Spacing
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;

// Border radius
$border-radius: 10px;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
